colorama
concurrent-log-handler
flask
facebook-wda
goto-statement
imagecodecs
imagehash
matplotlib
mss
numpy
opencv-python
Pillow
pip-chill
pulp
pyautogui
pygame
scikit-image
scipy
termcolor
# click # Installed as dependency for flask
# cycler # Installed as dependency for matplotlib
# decorator # Installed as dependency for networkx
# imageio # Installed as dependency for scikit-image
# itsdangerous # Installed as dependency for flask
# jinja2 # Installed as dependency for flask
# kiwisolver # Installed as dependency for matplotlib
# markupsafe # Installed as dependency for jinja2
# matplotlib # Installed as dependency for scikit-image
# mouseinfo # Installed as dependency for pyautogui
# networkx # Installed as dependency for scikit-image
# pygetwindow # Installed as dependency for pyautogui
# pymsgbox # Installed as dependency for pyautogui
# pyparsing # Installed as dependency for matplotlib, pulp
# pyperclip # Installed as dependency for mouseinfo
# pyrect # Installed as dependency for pygetwindow
# pyscreeze # Installed as dependency for pyautogui
# python-dateutil # Installed as dependency for matplotlib
# pytweening # Installed as dependency for pyautogui
# pywavelets # Installed as dependency for scikit-image
# scipy # Installed as dependency for scikit-image
# six # Installed as dependency for python-dateutil, cycler
# tifffile # Installed as dependency for scikit-image
# werkzeug # Installed as dependency for flask
